body {
    z-index: 3;
}

h1 {
    /*font-family: 'Indie Flower', cursive;    */
    /*  font-family: 'Bubbler One', sans-serif;*/
    font-family: 'Slabo 27px', serif;

}


.btn-primary {
    /*background-color: #337ab7;*/
    background-color: #ff6600;
    border: #d36c00;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #d36c00!important;
}

b {
    color: #ff6600;
}

.table,
.table th {
    text-align: center!important;
}

b.numero {
    color: #000;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	text-align: center;
	background-color: #111;
	color: #ccc;
	font-size: 1.2em;	
        padding: 30px 30px;
}

footer button {
    background: transparent!important;
    color: #fff!important;
    position: absolute;
    right: 30px;
}

#resultado {
	padding-bottom: 50px;
	background-color: #fff;
	margin-top: 20px;
	border-radius: 7px;
}

.filme-container {
	border: 1px solid rgba(51,51,51,.3);
	padding: 15px;
	margin-top: 30px;	
}

.filme-container:first-child {
}

.wrapper {
    background: f0f0f0;
   /* background: linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px*/
    /* background-color: #421500;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you!
     *//*background-color: #421500;
    background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");*/
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.form-busca {
	background-color: #fff;
        color: #333;
        padding-bottom: 150px;
}

.navbar {
	margin-bottom: 0!important;

}

.ouro {
    color: #ffff00;
}

.prata {
    color: #cccccc;
}

.bronze {
    color: #de9618;
}

/* PAGINAÇAO */
.pagination li a {
    color: #222;
}

.pagination li.active a {
    background-color: #ff6600;
    border-color: #ff6000;
}

.pagination li.active a:hover,
.pagination li.active a:active,
.pagination li.active a:focus {
    background-color: #ff6000;
    border-color: #ff6000;
}